@tailwind base;

@tailwind components;

@tailwind utilities;

/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap'); */

/* Base styling override */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #070707;
}

/* Custom Styles */
.neon {
  font-family: 'Monoton', cursive;
  text-shadow: 1px 0px 4px #c2d6d6, 2px 0px 4px #c2d6d6, 3px 0px 4px #c2d6d6,
    2px 0px 3px #2cd4d4, 2px 3px 15px #2cd4d4, 2px 0px 15px, 5px 0px 125px,
    20px 0vw 200px #2cd4d4, 40px 0vw 200px #2cd4d4;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    //text-shadow: none;
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
